.wrap {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    min-height: 250px;
    background-color: greenyellow;
    border-radius: 15px;
}